if [ -f .envrc_local ]; then
    source .envrc_local
else
    touch .envrc_local
fi

watch_file .envrc_local

# Export these vars in .envrc_local
#AWS_ACCESS_KEY_ID
#AWS_SECRET_ACCESS_KEY
#AWS_DEFAULT_REGION
#TF_VAR_spotinst_account
#TF_VAR_spotinst_token